<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.10" targetFramework="net452" />
  <package id="CompareNETObjects" version="3.01.0.0" targetFramework="net452" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net452" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="4.8.2" targetFramework="net452" />
  <package id="WebDriverManager" version="2.2.7" targetFramework="net452" />
</packages>